$font-path: "../assets/fonts";

$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #3bd6c6,
  secondary:  #b3ecec,
  danger:     #f53d3d,
  light:      #dadada,
  dark:       #a7a7a7,
);

//Top Toolbar
$toolbar-md-background: color($colors, primary);

//Bottom Tabs
$tabs-md-background: color($colors, primary);
$tabs-md-tab-color-active: color($colors, light);

@import "ionic.theme.default";

@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";
