.notes{
    background:color($colors, light);
}

.calendar{
    background:color($colors, light);
}

.settings{
    background:color($colors, light);
}

.add-note{
    background:color($colors, light);
}

.view-note{
    background:color($colors, light);
}

.toolbar-title{
    text-align: center;
}